<div class="row">
  <div class="col-sm-offset-1 col-sm-8">
    <fieldset class="border-nds" ng-if="instances.template.dataset">
      <legend class="legend-fix">
        Target Dataset 
        <sup><i class="fa fa-fw fa-question-circle-o" data-toggle="tooltip" data-placement="right" title="Details about the dataset on which you plan to operate"></i></sup>
      </legend>
      
      <!-- These are all scraped from the route parameters -->
      <!--<div class="form-group"> 
        <label for="apiKeyInput">API Key</label>
        {{ instances.template.key }}
        <input class="form-control" name="apiKeyInput" id="apiKeyInput" type="hidden" ng-model="instances.template.key" />
      </div>
      
      <div class="form-group"> 
        <label for="ownerIdInput">Owner Id</label>
        {{ instances.template.ownerId }}
        <input class="form-control" name="ownerIdInput" id="ownerIdInput" type="hidden" ng-model="instances.template.ownerId" />
      </div>
      
      <div class="form-group"> 
        <label for="sourceInput">Source</label>
        {{ instances.template.source }}
        <input class="form-control" name="sourceInput" id="sourceInput" type="hidden" ng-model="instances.template.source" />
      </div>
      
      <div class="form-group"> 
        <label for="datasetIdInput">Dataset Id</label>
        {{ instances.template.datasetId }}
        <input class="form-control" name="datasetIdInput" id="datasetIdInput" type="hidden" ng-model="instances.template.datasetId" />
      </div>-->
      
      <div class="form-group">  
        <label for="datasetNameInput">Dataset Name</label>
        {{ instances.template.datasetName }}
        <input class="form-control" name="datasetNameInput" id="datasetNameInput" type="hidden" ng-model="instances.template.datasetName" />
      </div>
      
      <div class="form-group"> 
        <label for="datasetUrlInput">Dataset URL</label>
        <a ng-href="{{ instances.template.dataset }}">{{ instances.template.dataset }}</a>
        <input class="form-control" name="datasetUrlInput" id="datasetUrlInput" type="hidden" ng-model="instances.template.dataset" />
      </div>
      
      <div class="row">
        <div ng-class="{ 'col-sm-6': instances.list, 'col-sm-12': !instances.list }">
          <h4>Launch a New Tool Instance</h4>
          <form>
            <div class="form-group"> 
              <label for="nameInput">
                Tool Instance Name 
                <i class="fa fa-fw fa-question-circle-o" data-toggle="tooltip" data-placement="right" title="Name this instance to easily identify it later"></i>
              </label>
              
              <div class="input-group">
                <input class="form-control" name="nameInput" id="nameInput" placeholder="Name your instance..." ng-model="instances.template.name" />
                <div class="input-group-btn">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Launch Tool <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-repeat="(key, tool) in tools track by key" data-toggle="tooltip" data-placement="right" title="{{ tool.description }}">
                      <a href ng-click="createInstance(key, tool, instances.template)">{{ tool.name }}</a>
                    </li>
                  </ul>
                </div><!-- /input-group-btn -->
              </div><!-- /input-group -->
            </div>    
                  
            <!-- TODO: Error handling for route scraping -->
          </form>
        </div>
        
        
        <div class="col-sm-6" ng-if="instances.list">
          <h4>Attach to an existing tool instance</h4>
          <form>
            <div class="form-group"> 
              <label for="nameInput">
                Tool Instance Name 
                <i class="fa fa-fw fa-question-circle-o" data-toggle="tooltip" data-placement="right" title="Name this instance to easily identify it later"></i>
              </label>
              
              <div class="input-group">
                <!--<input class="form-control" name="nameInput" id="nameInput" placeholder="Name your instance..." ng-model="instances.template.name" />-->
                <select class="form-control" ng-model="selectedId">
                  <option ng-repeat="(id, instance) in instances.list" value="{{ id }}" ng-click="">{{ instance.name }}</option>
                </select>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-primary" ng-click="updateInstance(selectedId, instances.list[selectedId], instances.template)">Attach Dataset</button>
                </div><!-- /input-group-btn -->
              </div><!-- /input-group -->
            </div>    
                  
            <!-- TODO: Error handling for route scraping -->
          </form>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div ng-if="instances.list">
  <h4>My Analysis Environments</h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th width="30%">Name</th>
          <th width="30%">Tool</th>
          <th width="30%">Datasets</th>
          <!--<th width="30%">ID</th>-->
          <th width="10%">Stop</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(id, instance) in instances.list track by id">
          <td><a ng-href="{{ instance.url }}" target="_blank">{{ instance.name }}</a></td>
          <td>{{ instance.toolName }}</td>
          <!--<td>{{ id }}...</td>-->
          <td>
            <ul>
              <li ng-repeat="upload in instance.uploadHistory"><a ng-href="{{ upload.url }}">{{ upload.datasetName }}</a></li>
            </ul>
          </td>
          <td><button class="btn btn-xs btn-danger" ng-click="deleteInstance(id, instance)"><i class="fa fa-fw fa-stop"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
