<h2>Create new Tool</h2>

<div ng-controller="ToolInstancesCtrl as instances">
    <pre>{{ instances.template | json }}</pre>
    <form ng-submit="instances.create(instances.template)">
        
        <p>Tool:</p>
        <select ng-options="key as tool.name for (key, tool) in tools.list track by key"
                ng-model="tools.selected" >
        </select>
        
        Name:<br/>
            
        API Key: <input ng-model="instances.template.key" /><br/>
        Owner Id: <input ng-model="instances.template.ownerId" /><br/>
        Dataset Id: <input ng-model="instances.template.datasetId" /><br/>
        Dataset Name: <input ng-model="instances.template.datasetName" /><br/>
        Dataset Download URL: <input ng-model="instances.template.dataset" />
    </form>
    <button ng-click="instances.create(instances.template)">Create</button>
</div>


<!-- <pre>{{ tools.list | json }}</pre> -->